<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counter</title>
    <link rel="stylesheet" href="../../../style.css">

    <style>
        body {
            width: 100%;
            text-align: center;
        }

        #display {
            font-family: monospace;
            font-size: 1rem;
        }
    </style>
</head>
<body>
    <p>Visits <span id="display"></span></p>
    <script src="counter.js"></script>
</body>
</html>