* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: sans-serif;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: white !important;
}

img {
    max-width: 100%;
}

main {
    max-width: 750px;
    margin: auto;
}

header,
footer {
    text-align: center;
}

hr {
    border: solid black;
}

fieldset {
    background-color: rgb(255, 255, 255);
    border: solid black;
    margin: 15px 0;
}

fieldset>img {
    border: solid black;
}

legend {
    font-size: larger;
    color: white;
    font-variant: small-caps;
    background-color: rgb(63, 63, 63);
    padding: 5px;
}

#superTitle a {
    color: unset;
}

#superDescription {
    color: rgb(194, 194, 194)
}

.panoramic {
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    filter: grayscale(1);
    transition: 0.2s;
}

.panoramic:hover {
    filter: grayscale(0);
}

@keyframes myAnimation {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

/* The element to apply the animation to */
#panoramicGalaxy {
    width: 500px;
    height: 500px;
    animation-name: myAnimation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#panoramicGalaxyContainer {
    height: 450px;
    margin: auto;
    border-radius: 50%;
    min-width: 60%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    background-color: black;
}