* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: sans-serif;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: white !important;
}

img {
    max-width: 100%;
}

main {
    max-width: 750px;
    margin: auto;
}

header , footer {
    text-align: center;
}

hr {
    border: solid black;
}
fieldset {
    background-color: rgb(255, 255, 255);
    border: solid black;
    margin: 15px 0;
}

fieldset > img {
    border: solid black;
}

legend {
    font-size: larger;
    color: white;
    font-variant: small-caps;
    background-color: rgb(63, 63, 63);
    padding: 5px;
}

#superTitle a {
    color: unset;
}
#superDescription {
    color: rgb(194, 194, 194)
}

.panoramic {
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

