body {
    display: flex;
    flex-direction: column;
    height: 100svh;
}

header,
footer {
    margin: unset;
}

main {
    flex: 1;
    overflow: auto;
    position: relative;
}

#headBar,
#bottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5px;
    
}

#myIframe {
    display: block;
    background-color: white;
    width: 100%;
    height: 100%;
}

#navBars {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    pointer-events: none;
}


#leftBar {
    position: absolute;
    left: -200px;
    line-height: 3;
}

#leftBar > div::before {
    content: "-> ";
}

#rightBar {
    position: absolute;
    right: -200px;

}

.leftBarOpen {
    left: 0 !important;

}

.rightBarOpen {
    right: 0 !important;
}

#leftBar,
#rightBar {
    width: 200px;
    height: 100%;
    transition: 0.2s;
    padding: 10px;
    backdrop-filter: blur(15px);
    overflow: auto;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0.5);
}

#bottomBar {
  pointer-events: auto;
}

#bottomBar * {
  pointer-events: auto;
}


.clickable {
    user-select: none;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {

    #leftBar, #rightBar {
         background-color: rgba(0, 0, 0, 0.5);
    }


}

/* RESPONSIVE */
/* phone */

@media only screen and (max-width: 600px) {

    #leftBar,
    #rightBar {
        width: 50%;
    }

    #leftBar {

        left: -50%;
    }

    #rightBar {

        right: -50%;

    }

    .leftBarOpen {
        left: 0 !important;

    }

    .rightBarOpen {
        right: 0 !important;
    }
}