* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}
header > p , header > nav , footer {
    line-height: 2;
}

nav > p > span {
    cursor: pointer;
    padding: 0.1rem 0.45rem;
    border-radius: 999px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

nav > p > span.selected {
    background-color: black;
    color: white;
}

img , iframe {
    max-width: 100%;
}

#myIframe {
    border: solid 3px;
    border-radius: 20px;
    width: 800px;
    max-width: 100%;
    aspect-ratio: 16/9;
    margin: 10px 0;
}


a {
    text-decoration: none;
    color: purple;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    a {
        color: gold;
    }

    .invertable {
        filter: invert(1);
    }

    nav > p > span.selected {
        background-color: white;
        color: black;
    }
}


.flexo3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    line-height: 0;
}

.flexo3 > div {
    flex: 33%;
    width: 33%;
    aspect-ratio: 1;
    border: solid 3px;
}