* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

img {
    max-width: 100%;
    
}

.flexSection {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.flexSectionDivContainer {
    flex: 33.33%;
    width: 33.33%;
    aspect-ratio: 9/16;
    height: 100%;
    overflow: auto;
    padding: 15px;
}
.flexSectionDiv {

    border: white 3px solid;
    height: 100%;

}

.flexSectionDiv img {
  background-color: gray;  
}