* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    text-align: center;
    line-height: 2;
}
a {
    color: unset;
}
header , footer {
    background-color: black;
    color: white;
    padding: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}