* {
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

header , footer {
    text-align: center;
    padding: 40px;
    background-color: black;
    color: white;
}

main {
    padding: 15px;
}

a {
    color: unset;
}

::selection {
    background-color: gray;
    color: white;
}

img {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border: solid 3px black;
    border-radius: 15px;
    box-shadow: 0 0 15px gray;
}

img:hover {
    width: 200%;
}