* {
  margin: 0;
  box-sizing: border-box;
}

html {
  cursor: url(cursor.png), default;
}

body {
  max-width: 800px;
  margin: auto;
  color: white;
  background: rgb(6, 0, 106);
  background: linear-gradient(90deg, rgba(6, 0, 106, 1) 0%, rgba(0, 0, 255, 1) 50%, rgba(6, 0, 106, 1) 100%);
  font-family: monospace;
  
  padding: 0 15px;
  text-align: center;
  line-height: 2;
}

@media screen and (min-width: 800px) {
  body {
      font-size: x-large;
  }
}

a {
  color: white;
  text-shadow: none;
  cursor: url(pointer.png), auto;
}

.specialLink {
  background-color: white;
  color: blue;
  text-decoration: none;
}

.textCenter {

  text-align: center
}

hr {
  border: white dashed
}

::-moz-selection {
  /* Code for Firefox */
  color: blue;
  background: white;
}

::selection {
  color: blue;
  background: white;
}


.pixel {
  image-rendering: pixelated;
}

#animatedBar {
  height: 50px;
  border: solid 3px red;
}

#animatedBarInterior {
  height: 100%;
  border: solid 3px yellow;
  width: 50%;
  margin-left: 25%;
}

#description {
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example {
  0% {
    color: white;
  }

  25% {
    color: yellow;
  }

  50% {
    color: limegreen;
  }

  75% {
    color: green;
  }

  100% {
    color: purple;
  }
}

.contenedores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contenedor {
  border: solid 3px white;
  border-radius: 15px;
  width: max-content;
  margin: 5px;
  padding: 5px;
}