a {
    text-decoration: none;
}
.fullScreen {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 100;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex2x2 {
    display: flex;
    flex-wrap: wrap;
}

.flex2x2 div {
    flex: 50%;
    width: 100%;
}


.flex2x2 div img {
    height:400px ;
    aspect-ratio: 1;
    object-fit: cover;
    
}

.flex3x3 {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap
}

.flex3x3 div {
    flex: 33.33%;
    line-height: 0;
    background-color: yellow;
    
    aspect-ratio: 1;
    overflow: auto;
    
   
}
.flex3x3 div img {
    width: 100%;
    height:  100%;
    object-fit: cover;
}
.textCenter {
    text-align: center;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

.pixel {
    image-rendering: pixelated;
}


.blackAndWhite {
    filter: grayscale(100%);
}

.invert {
    filter: invert(1);
}

.red {
    color: rgb(187, 0, 0);
}

.orange {
    color: orange;
}

.yellow {
    color: gold;
}

.green {
    color: green;
}

.blue {
    color: rgb(8, 8, 154);
}

.purple {
    color: rgb(81, 5, 143);
}

.pink {
    color: rgb(230, 65, 213);
}

img , iframe {
    max-width: 100%;
}

.rounded {
    border-radius: 15px;
}

.bigEmoji {
    font-size: 70px;
}

.panoramic {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}