* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Jost;
  src: url(assets/fonts/Jost-VariableFont_wght.ttf);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

body {
  background-color: black;
  color: white;
/*   font-family: Verdana, sans-serif;
 */  line-height: 2;

}

header {
  /* position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1;
  line-height: 0;
  padding: 5px; */
  
}

header a {
    color: unset;
}

header,
footer {
  text-align: center;
  padding: 30px;
}

#headerflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
/*   padding: 40px;
 */}

a {
  text-decoration: none;
  /* color: unset; */
  color: gold;
  transition: 0.4s;
}

/* a:hover {
  letter-spacing: 1.5px;
} */

img {
  max-width: 100%;
}

hr { border: solid 1px white;}
.flexgrid {

  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexgrid a {
  color: unset;
}

.flexgriditem {
  flex: 33.33%;
  width: 33.33%;
  max-width: 400px;
  overflow: hidden;
  padding: 5px;
}

.flexgriditem > div {
  border: solid 1px white;
  
  padding: 10px;
}

@media only screen and (max-width: 900px) {
  .flexgriditem {
    flex: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .flexgriditem {
    flex: 100%;
  }

  .notForMobile {
    display: none;
  }

}

.zoomableimage {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16/9;
}

.zoomableimage img {
  transition: 1s;
}

.zoomableimage img:hover {
  transform: scale(1.5);

}

.invert {
  filter: invert(1)
}

.franjawrapper {
  margin: auto;
  max-width: 800px;

}

::selection {
  background-color: darkgray;
  color: black;
}

/* ANIMATIONS */

#dibesfer-logo {
  transition: 1s ;
}
#dibesfer-logo:hover {
  transform: rotate(360deg);
}

#fer-logo {
  transition: 1s;
}
#fer-logo:hover {
  transform: rotate(-360deg);
}

#dibesfer-title {
  transition: 0.4s;
}

#dibesfer-title:hover {
  filter: invert(1) drop-shadow( 0 0 10px white);
}

#mainBody {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  border: solid 1px white;;
  
}

@media only screen and (max-width: 600px) {

  #mainBody {
    margin: 0 10px;
  }
}

.textCenter {
  text-align: center;
}