<div id="topBar">

    <div id="menuBtn" style="height:100%; padding: 2px; ">
        <img class="shadowIcon" style="height:100%; filter: invert(1);" src="/assets/branding/dibesfer-logo.png" alt="">
    </div>

    <div id="superTitlePlacer" class="superTitle superTitleShrink">

        <a href="/index.html">
            <img class="shadowIcon" style="height: 100%; filter: invert(1);" src="/assets/branding/dibesfer-title.png"
                alt="dibesfer">
        </a>

    </div>

    <div id="menuBtnAbout" style="height:100%;padding: 2px;">
        <img class="shadowIcon" style="height:100%; filter: invert(1);" src="/assets/branding/fer-logo.png" alt="">
    </div>

</div>

<div class="spacing"></div>





<div class="maxWidth">

    <div class="mockUpBox">

        <img class="franja" src="" alt="">

    </div>

</div>