<div id="menuBar" class="closedMenuBar">
    <ul style="list-style: none; padding: 0;">
        <a id="leftMenuLinkGallery" href="/gallery/">
            <li>🎨 Gallery</li>
        </a>
        <!-- <a href="/p/library/">
            <li>📚 Librería</li>
        </a>
        <a href="/p/dev/">
            <li>💻 Dev</li>
        </a> -->
        <a id="leftMenuLinkGames" href="/games/">
            <li>🕹️ Games</li>
        </a>
        <a id="leftMenuLinkWeb" href="/web/">
            <li>🌐 Web</li>
        </a>
        <!-- <a href="https://dibesfer.github.io">
            <li>ℹ️ Info</li>
        </a> -->
        <a href="https://dibesfer.blogspot.com">
            <li>📜 Blog</li>
        </a>
        <!-- <a href="/p/random/">
            <li🎲 Random>
                </li>
        </a> -->
        <a href="https://dibesfer.neocities.org">
            <li>🐱 Neocities</li>
        </a>
        <a href="https://mastodon.social/@dibesfer">
            <li>🦣 Mastodon</li>
        </a>
        <a id="leftMenuLinkLuanti" href="https://dibesfer.codeberg.page/p/games/minetest/">
            <li>⛏️ Luanti</li>
        </a>
        <a id="leftMenuLinkColorlandia" href="https://dibesfer.codeberg.page/p/games/minetest/colorlandia/">
            <li>🌈 Colorlandia</li>
        </a>
    </ul>
</div>