<div id="menuAbout" class="closedMenuAbout">
    <img style="width: 150px; display: block;margin: auto;"
        src="https://dibesfer.codeberg.page/art/selfportrait/me-cartoon.png" alt="Selfportrait in digital art">
    <p class="textCenter">Ferrán Minero</p>
    <p class="textCenter"><i>Barcelona, 1996</i></p>
    <img style="width: 150px; display: block;margin: auto;" src="https://dibesfer.codeberg.page/art/selfportrait/me.png"
        alt="Selfportrait in digital art">
    <p class="textCenter">Digital artist and developer.</p>
    <img class="icon shadowIcon" style="width: 150px; display: block;margin: auto;"
        src="https://dibesfer.codeberg.page/img/fer-logo.png" alt="Selfportrait in digital art">
    <p class="textCenter">Languages: Español, Català, English</p>
    <hr>
    <br>
    <div
        style="margin: auto;max-width: 100%; display: flex; justify-content: center; align-items: center;height: 100%; max-height:40px;flex-wrap: wrap;">
        <img class="icon pixel" height="100%" src="https://dibesfer.codeberg.page/img/dibesfer-pixel-logo.png"
            alt="dibesfer pixel logo"> <span style="margin: 0 5px">by</span> <img
            src="https://dibesfer.codeberg.page/img/dibesfer-pixel-title.png" alt="" class="icon pixel shadowIcon"
            height="100%">
    </div>

</div>