* {
    margin: 0;
    box-sizing: border-box;
}

/*
        @font-face {
            font-family: UbuntuMono;
            src: url(/assets/fonts/UbuntuMono-Regular.ttf);
        }
        */


body {
    line-height: 2;
    font-family: UbuntuMono, monospace;
    background-color: black;
    color: white;
    height: 100dvh;

}

#chatScreen {
    background-color: black;
    border: solid 3px white;
    overflow: auto;
    padding: 0 10px;
    box-shadow: inset 0 0 10px black;
    word-wrap: break-word;
    
}


#header,
#userInputDiv {
    height: 10%;
}

#logOutBtn{
    cursor: pointer;
}

/* #chatForm {
    height: 100%;
} */

#chatScreen {
    height: 80%;
}

input {
    color: black;
    color: white;
    transition: 0.2s
}

input:focus {
    border: solid 3px rgba(50, 205, 50, 0.596);
}

a {
    text-decoration: none;
    color: rgb(0, 153, 255);
}

::selection {
    background-color: rgb(0, 153, 255);
    color: rgb(255, 255, 255);
}

#userInputDiv,
#chatScreen {
    margin: 0 10px;
}

.displayAuthor {
    font-weight: bold;
}

.flex3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#chatForm {
    display: flex;
}

label {
    all: unset;
    background-color: rgba(0, 0, 0, 0.494);
    padding: 5px;
}

#userNameDisplay {
    cursor: pointer;
}

input {
    all: unset;
    border: solid 3px rgba(255, 255, 255, 0);
    padding: 5px;
    cursor: pointer;
    background-color: rgba(107, 107, 107, 0.42);
    box-sizing: border-box;
    /* border-bottom-left-radius: 15px;        
            border-bottom-right-radius: 15px; */
}

input:hover {
    border: dashed 3px white;
}

.maxWidth {
    width: 100%;
}

.minWidth {
    max-width: 800px;
    margin: auto;
}

#identifyBtn {
    
    width: 100%;
    text-align: center;
}

#signInDiv {
    background-color: gray;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.invisible {
    display: none !important;
}

.displayTime {
    color: gray;
    letter-spacing: -2px;
}

.miniFlex {
    display: flex;
    width: 100%;
    border-radius: 15px;
}

.miniFlex>label {
    flex: 25%;
    width: 25%;
    max-width: 100%;
    overflow: auto;
}

.miniFlex>input {
    flex: 75%;
    width: 75%;
    max-width: 100%;
    border-bottom: solid 1px rgb(255, 255, 255);
    

}

.error {
    color: red;
    background-color: rgb(33, 33, 33);
    padding: 5px;
    margin-bottom: 10px;
}