* {
    margin: auto;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    font-size: larger;
}

header , footer {
    text-align: center;
    background-color: blue;
    padding: 20px;
    color: white;
}

main {
    margin: 15px auto;
    max-width: 800px;
    padding: 15px;
}

::selection {
    background-color: black;
    color: white;
}

a {
    color: unset;
}

img {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}