@font-face {
    font-family: Jost;
    src: url(/assets/fonts/Jost-VariableFont_wght.ttf);
}

:root {
    --TopBottomHeight: 55px
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: Jost, sans-serif;
    font-size: 1.2rem;
    line-height: 2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(10px);
    padding: 5px 20px;
    height: var(--TopBottomHeight);
    /* background-color: rgba(128, 0, 128, 0.307); */
    z-index: 1;
}

#bottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 20px;
    height: var(--TopBottomHeight);
    backdrop-filter: blur(10px);
    /* background-color: rgba(0, 255, 255, 0.341); */

}

a {
    color: rgb(135, 18, 188);
}

.superTitle {
    margin: auto;
    width: max-content;
    text-align: center;
    position: sticky;
    top: 0;
    /* background-color: rgba(255, 255, 0, 0.36); */
    height: 70px;
    padding: 5px;
    line-height: 1.5;
    z-index: 2;
    transition: 0.2s;

}

.superTitleShrink {
    height: var(--TopBottomHeight);
}

.superTitle a,
#menuBar a,
#menuAbout a {
    color: unset;
}

.mockUpBox {
    /* background-color: rgb(66, 66, 66); */

    border-radius: 15px;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 10px;
}

.mockUpBox>img {
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.maxWidth {
    margin: auto;
    max-width: 800px;
}



#menuBar {
    position: fixed;
    top: var(--TopBottomHeight);
    width: 300px;
    /* background-color: rgba(255, 255, 65, 0.563); */
    bottom: var(--TopBottomHeight);
    left: 0;
    transition: 0.4s all;
    padding: 15px;
    backdrop-filter: blur(10px);
    overflow: auto;
    z-index: 2;
}

.closedMenuBar {
    left: -300px !important;
}

#menuAbout {
    position: fixed;
    top: var(--TopBottomHeight);
    width: 300px;
    /* background-color: rgba(103, 65, 255, 0.563); */
    bottom: var(--TopBottomHeight);
    right: 0px;
    transition: 0.4s all;
    padding: 15px;
    backdrop-filter: blur(10px);
    overflow: auto;
    z-index: 2;
}

.closedMenuAbout {
    right: -300px !important;
}

.spacing {
    height: 60px;
}

.shadowIcon {
    transition: 0.2s;
    filter: invert(1) drop-shadow(0 0 0px white) !important;

}

.shadowIcon:hover {
    filter: invert(1) drop-shadow(0 0 7px white) !important;
    cursor: pointer;
}

.rotateRight {
    transform: rotate(360deg);
}

.rotateLeft {
    transform: rotate(-360deg);
}

#menuBtn,
#menuBtnAbout,
#scrollBottom {
    transition: 0.4s;
}


.rotated180 {
    transform: rotate(180deg);
}

.flexgrid {

    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexgrid a {
    color: unset;
}

.flexgriditem {
    flex: 33.33%;
    width: 33.33%;
    max-width: 400px;
    overflow: hidden;
    padding: 5px;
}

.flexgriditem img {
    /* aspect-ratio: 16/9; */
}

.flexgriditem>div {
    border: solid 1px white;

    padding: 10px;
}

@media only screen and (max-width: 900px) {
    .flexgriditem {
        flex: 50%;
    }
}

@media only screen and (max-width: 600px) {

    .flexgriditem {
        flex: 100%;
    }
}

.zoomableimage {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;
    background-color: rgb(78, 78, 78);
}

.zoomableimage img {
    transition: 1s;
}

.zoomableimage img:hover {
    transform: scale(1.5);

}

/* ON MOBILE*/

@media only screen and (max-width: 800px) {

    .maxWidth {
        padding: 10px;
    }

    .mockUpBox {
        height: unset;
        padding: unset;
    }

    header {
        padding: 5px 10px;
    }

}

.appear {
  /* -webkit-transition: all 0.8s; */
  transition: all 0.8s ease-in-out;
  opacity: 0;

  /* -webkit-transform: translateY(20px);
  transform: translateY(20px); */
}

.appear.inview {
  opacity: 1;
  transition-delay: 0.2s;
  /* -webkit-transform: none;
  transform: none; */
}