
body {
    font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }
  }

header , footer{
    text-align: center;
}

main {
    max-width: 900px;
    margin: auto;
}

a {
    color: gold;
}

hr {
    border: solid 3px black;
}

@media (prefers-color-scheme: dark) {
    hr {
        border: solid 3px white;
    }
  }