* {
    margin: 0;
    box-sizing: border-box;
}

main {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    line-height: 1.7;
    height: 100dvh;
    hyphens: auto;
}

header,
footer {
    height: 6%;
    padding: 5px;
}

main {
    height: 88%;
    overflow: auto;
}

a {
    text-decoration: none;
    color: purple;
}

pre,
img,
iframe {
    max-width: 100%;

}

pre {
    white-space: pre-wrap;
    overflow: auto;

}

.flexy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}


.maxWidthContent {
    padding: 10px;
    max-width: 800px;
    margin: auto;
}

.fullWidth {
    padding: 10px;
    width: 100%;

}

.littleIcon {
    height: 100%;

}

.littleIcon>img {
    height: 100%;
}


@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }

    .littleIcon {
        filter: invert(1);
    }
}

.textCenter {
    text-align: center;
}

.flexyBeauticards {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    background-color: gray;

}


.beauticard {
    flex: 1;
    background-color: blue;
    text-align: center;
    border: solid 6px black;
    overflow: auto;
    padding: 15px;
}

.beauticard img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.beauticard h1 {
    font-variant: small-caps;
}

.beauticardInner {
    background-color: rgba(128, 128, 128, 0.535);
    border: solid 10px white;

}

.bcItext {
    text-align: left;
}

/* FOR TABLETS*/
@media only screen and (max-width: 1000px) {

    .beauticard {
        flex: 50%;
        min-height: 500px;
    }
}

/* MOBILE FIRST MUTHERFUCKER*/
@media only screen and (max-width: 600px) {


    .beauticard {
        flex: 100%;
        min-height: unset;
    }
}

/* ONLY FOR DESKTOP */
@media only screen and (min-width: 1000px) {

    .flexyBeauticards {
        height: 100%;

    }

    #description {
        height: 5%;
    }

    .beauticard {
        flex: 33.33%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .beauticard:has(.beauticardInner:hover) {
        transition: 0.4s;
        padding: 5px;
    }
}

#description {
    flex: 100%;

}