body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(61, 61, 61);
    color: white;
    max-width: 900px;
    margin: auto;
    font-size: larger;
}

header , footer {
    text-align: center;
}

xmp , pre {
    max-width: 100%;
    overflow: auto;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
}