* {
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: rgb(185, 248, 255);
}

#app {
    font-family: monospace;
    font-size: 1rem;
    border-radius: 10px;
    border: black 2px solid;
    padding: 5px;
    background-color: rgb(164, 164, 164);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.3rem;
}

#app > * {
    
}

.icon {
    height: 100%;
    user-select: none;
    
}

#title {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    overflow: auto;
    flex: 1;
    height: 2rem;
    line-height: 2;
    width: max-content;
    background-color: rgba(85, 85, 85, 0.646);
    border-radius: 10px;
    padding: 0 10px;
    color: white;
    
}

#playBtn, #stopBtn, #skipBtn{
    border-radius: 24%;
    margin: 0 5px;
}
#playBtn {
    background-color: limegreen;

}

#stopBtn {
    background-color: rgb(255, 107, 44);
}

#skipBtn {
    background-color: yellow;
}