* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

header , footer {
    background-color: gray;
    padding: 40px;
    text-align: center;
}

main {
    max-width: 800px;
    
}