* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: sans-serif;
    background-color: rgb(142, 53, 67);
    color: white;
}

header,
footer {
    text-align: center;
}

main {
    max-width: 500px;
    margin: auto;
    
}

.canvas-wrapper {
    position: relative;
    border: solid 3px white;
    width: 100%;
    aspect-ratio: 1;
}

.canvas-wrapper > canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.categoryPicker {
    overflow: auto;
}

.category-wrapper {
    display: flex;
    width: 600px;
    background-color: rgb(52, 52, 52);
    user-select: none;
}

.faceItemGrid {
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category.selected , 
.faceItem.selected {
    background-color: rgba(255, 217, 0, 0.318);
    border: solid 6px black;
    
}

.category,
.faceItem {
    border: solid 3px white;
    width: 25%;
    flex: 25%;
    aspect-ratio: 1;
    cursor: pointer;
}

.faceItem {
    padding: 15px;
}
.faceItem > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.canvas-background-picker {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 48px;
    height: 48px;
    border: solid 2px black;
    border-radius: 50%;
    background: none;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
}

.canvas-background-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.canvas-background-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.canvas-background-picker::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}

.canvas-secondary-picker {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 48px;
    height: 48px;
    border: solid 2px black;
    border-radius: 50%;
    background: none;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
}

.canvas-secondary-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.canvas-secondary-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.canvas-secondary-picker::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}
