:root {
    --KolorBlue: rgb(16, 106, 190);
    --KolorGreen: rgb(16, 145, 55);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 1rem;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

body > * {
    padding: 20px;
}

a {
    text-decoration: none;
    color: gold;
}

header {
    background-color: var(--KolorBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: auto;
}

#theTitle > a {
    color: unset;
}

#loginIcon {
    border-radius: 50px;
    border: solid 3px;
    aspect-ratio: 1;
    width: 50px;
    max-height: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--KolorGreen);
    flex: 1;
    overflow: auto;
}

#menu {
    min-height: 50%;
    /* background-color: rgba(128, 128, 128, 0.486); */
    line-height: 1.7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

footer {
    background-color: var(--KolorBlue);
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery > div {
    flex: 33%;
    max-width: 33%;
    aspect-ratio: 16/9;
    background-color: gray;
    border: solid 3px white;
}

.link {
    cursor: pointer;
}

.box_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    aspect-ratio: 1;
    border-radius: 15px;
    border: solid 2px;
    text-align: center;
    flex: 25%;
    max-width: 25%;
}

@media screen and (max-width: 600px) {

    .box {
        flex: 100%;
        max-width: 100%;
    }
    
}