* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    line-height: 1.75;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    color: white;
    background-color: black;
}

header,
footer {
    background-color: rgb(74, 74, 74);
    padding: 40px;
    text-align: center;
}

main {

    padding: 10px;
    flex: 1;
    margin: auto;
}

.flex3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.flex3Container {
    flex: 33.33%;
    padding: 10px;
}

.flexCard {
    background-color: darkslategray;
    padding: 10px;
    transition: 0.4s
}

.flexCard:hover {
    box-shadow: 0 0 15px white;
}

/* For Mobile */
@media screen and (max-width: 800px) {

    .flex3Container {
        flex: 100%;
        width: 100%;

    }
}