.bannerApp {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    height: 6rem;
    cursor: pointer;
    background-color: black;
    margin: 10px 0;
    transition: 0.2s;
    color: white;
    font-family: sans-serif;
}

.bannerApp:hover {
    box-shadow: inset 0 0 10px white;
}

.bannerApp_icon {
    flex: 0 0 auto;
    line-height: 0;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    filter: 
    drop-shadow(0 0 0.5px white)
    drop-shadow(0 0 0.5px white) 
    drop-shadow(0 0 0.5px white)
    drop-shadow(0 0 0.5px white)
    }

.bannerApp_icon>img {
    width: 100%;
}

.bannerApp_text {
    line-height: 1.5;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.bannerApp_title {
    padding: 5px;
    flex: 1;
    
    font-size: 1.25rem;
    border-bottom: 1px white solid;
    font-family: monospace;
    white-space: nowrap;
    overflow-x: auto;
    line-height: 1;
}

.bannerApp:hover>.bannerApp_text>.bannerApp_title {
    font-weight: bold;
}

.bannerApp_desc {
    flex: 2;
    
    padding: 5px;
    font-size: 0.75rem;

    background-color: rgba(255, 199, 95, 0.084);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    overflow: auto;
}