<div class="maxWidth">
    <div class="mockUpBox">

        <img class="franja" src="/assets/deco/franja3.png" alt="">


    </div>
    <img src="/assets/branding/illustrated-title.png" alt="">
</div>
<div class="spacing"></div>

<p>🗨️ <a href="/web/socials/">Socials</a></p>
    <p>💛 <a href="/web/donate/">Donate</a></p>
    <p>✉️ contact <a href="mailto:dibesfer@gmail.com">dibesfer@gmail.com</a></p>
<p>Local visits: <span id="localVisitsDisplay"></span></p>
<p>Total visits: <span id="visitsCounter"></span></p>


<div class="spacing" style="height: 100px;"></div>

<div id="bottomBar">
    <img id="toggleFull"
    class="shadowIcon"
    src="/assets/icons/fullscreen.png"
    onclick="toggleFullscreen(this)">

    <p>🖂 <a style="color: unset;" href="mailto:dibesfer@gmail.com">dibesfer@gmail.com</a></p>

    <!-- transform: rotate(180deg) -->
    <img id="scrollBottom" class="shadowIcon" onclick="scrollToBottom()" style="height: 100%; filter: invert(1); "
        src="https://icons.veryicon.com/png/o/miscellaneous/arrows/arrow-down-4-1.png" alt="arrow scroll to bottom">
</div>