<div id="topBar">

    <div id="menuBtn" style="height:100%; padding: 2px; ">
        <img class="shadowIcon" style="height:100%; filter: invert(1);" src="/assets/branding/dibesfer-logo.png" alt="">
    </div>

    <div id="superTitlePlacer" class="superTitle"></div>

    <div id="menuBtnAbout" style="height:100%;padding: 2px;">
        <img class="shadowIcon" style="height:100%; filter: invert(1);" src="/assets/branding/fer-logo.png" alt="">
    </div>

</div>

<div class="spacing"></div>

<div class="superTitle">

    <a href="index.html">
        <img class="shadowIcon" style="height: 100%; filter: invert(1);" src="/assets/branding/dibesfer-title.png"
            alt="dibesfer">
    </a>

</div>
<p id="description" class="textCenter">Dibujos y escritos de Fer</p>