<div id="topBar">

    <div id="menuBtn" style="height:100%; padding: 2px; ">
        <img class="shadowIcon" style="height:100%; filter: invert(1);" src="/assets/branding/dibesfer-logo.png" alt="">
    </div>

    <div id="superTitlePlacer" class="superTitle superTitleShrink">

        <a href="/index.html">
            <img class="shadowIcon" style="height: 100%; filter: invert(1);" src="/assets/branding/dibesfer-title.png"
                alt="dibesfer">
        </a>

    </div>

    <div id="menuBtnAbout" style="height:100%;padding: 2px;">
        <img class="shadowIcon" style="height:100%; filter: invert(1);" src="/assets/branding/fer-logo.png" alt="">
    </div>

</div>

<div class="spacing"></div>

<div id="menuBar" class="closedMenuBar">
    <ul style="list-style: none; padding: 0;">
        <a href="/gallery/">
            <li>🎨 Galería</li>
        </a>
        <!-- <a href="/p/library/">
            <li>📚 Librería</li>
        </a>
        <a href="/p/dev/">
            <li>💻 Dev</li>
        </a> -->
        <a href="/games/">
            <li>🕹️ Juegos</li>
        </a>
        <a href="/web/">
            <li>🌐 Web</li>
        </a>
        <!-- <a href="https://dibesfer.github.io">
            <li>ℹ️ Info</li>
        </a> -->
        <a href="https://dibesfer.blogspot.com">
            <li>📜 Blog</li>
        </a>
        <!-- <a href="/p/random/">
            <li🎲 Random>
                </li>
        </a> -->
        <a href="https://dibesfer.neocities.org">
            <li>🐱 Neocities</li>
        </a>
        <a href="https://mastodon.social/@dibesfer">
            <li>🦣 Mastodon</li>
        </a>
        <a href="https://dibesfer.codeberg.page/p/games/minetest/">
            <li>⛏️ Luanti</li>
        </a>
        <a href="https://dibesfer.codeberg.page/p/games/minetest/colorlandia/">
            <li>🌈 Colorlandia</li>
        </a>
    </ul>
</div>

<div id="menuAbout" class="closedMenuAbout">
     <img style="width: 150px; display: block;margin: auto;"
        src="https://dibesfer.codeberg.page/art/selfportrait/me-cartoon.png" alt="Selfportrait in digital art">
    <p class="textCenter">Ferrán Minero</p>
    <p class="textCenter"><i>Barcelona, 1996</i></p>
    <img style="width: 150px; display: block;margin: auto;" src="https://dibesfer.codeberg.page/art/selfportrait/me.png"
        alt="Selfportrait in digital art">
    <p class="textCenter">Digital artist and developer.</p>
    <img class="icon shadowIcon" style="width: 150px; display: block;margin: auto;"
        src="https://dibesfer.codeberg.page/img/fer-logo.png" alt="Selfportrait in digital art">
    <p class="textCenter">Languages: Español, Català, English</p>
    <hr>

    <div
        style="margin: auto;max-width: 100%; display: flex; justify-content: center; align-items: center;height: 100%; max-height:40px;flex-wrap: wrap;">
        <img class="icon pixel" height="100%" src="https://dibesfer.codeberg.page/img/dibesfer-pixel-logo.png"
            alt="dibesfer pixel logo"> <span style="margin: 0 5px">by</span> <img
            src="https://dibesfer.codeberg.page/img/dibesfer-pixel-title.png" alt="" class="icon pixel shadowIcon" height="100%">
    </div>

</div>

<div class="maxWidth">

    <div class="mockUpBox">

        <img class="franja" src="/assets/deco/franja3.png" alt="">

    </div>

</div>