.icon {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
}

.icon-name {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.icon-image {
  min-height: 0;
  aspect-ratio: 1;
  max-width: 100%;
  flex: 1;
}

.icon-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
