* {
    margin: 0;
    box-sizing: border-box;
}

html,
main,
.testwidth {
    scroll-behavior: smooth;
}

body {
    line-height: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    height: 100vh;
    font-family: sans-serif;

    font-family: "Ubuntu", serif;
    background-image: linear-gradient(180deg, rgb(91, 185, 91), rgb(3, 179, 59));
    /*  background-image: url("textures/emerald.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 20px 20px; */

}

header a {
    color: unset;
    text-decoration: none;
}

a {
    color: green;
    text-decoration: none;
}

img {
    max-width: 100%;
}


header,
footer {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(90deg, rgb(17, 108, 199), rgb(7, 56, 105));
    color: white;
    line-height: 1.5;
    z-index: 1;
}

header h2{
    margin: 10px 0;
}

header details {
    line-height: 2;
    /* max-height: 200px;
    overflow: auto; */
}

header details summary {
    cursor: pointer;
    margin-bottom: 10px;
}

#menuBox {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.394));

    max-height: 200px;
    overflow: auto;
    /*     border-bottom: 3px solid white;

*/
}

main {
    background-color: wheat;
    padding: 15px;
    overflow: auto;
    flex: 1;
    max-width: 100%;
    width: 900px;
    margin: auto;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.527);
}

@media screen and (min-width: 800px) {
    main {
        padding: 0 55px
    }
}

main div h2::before {
    content: "▣ "
}

div h3 {
    color: rgb(0, 113, 188)
}

div h3::before {
    content: "✓ "
}

pre {
    margin: 0 !important;
    padding: 15px !important;
    border-radius: 15px;
    background-color: rgb(0, 40, 63) !important;
    overflow: auto;
    width: 100% !important;
    color: white;
    font-family: "Ubuntu Mono";
    white-space: pre !important;
    line-height: 1.5;
}

/* pre {
    padding: 10px;
    background-color: rgb(0, 32, 57);
    color: white;
    
    max-width: 100%;
    overflow: auto;
    font-family: "Ubuntu Mono", serif;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.444);
} */

main h2 {
    color: rgb(0, 113, 188)
}

hr {
    border: solid 3px green;
}

::selection {
    background-color: green;
    color: white;
}

.pixel {
    image-rendering: pixelated;
}


.panoramic {
    border-radius: 15px;

    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.longimage {
    border-radius: 15px;

    width: 100%;
}

b {
    color: rgb(205, 89, 0)
}

#upArrow {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 25px;
    font-size: 60px;
}

#upArrow a {
    color: blue;
}

.testwidth {
    width: 1000%;
    height: 400px;
    display: flex;
}

.testwidth div {
    width: 10%;
    height: 100%;
    border: solid 3px blue;
    padding: 15px;
    overflow: auto;
    border-radius: 15px;
}

.testwidth div h2 {
    color: unset;
}