* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    font-family: sans-serif;
    line-height: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    line-height: 1.5;
    color: white;
    background-color: gray;
    height: 5%;
}

.flexo {
    display: flex;
    flex-direction: column;
    height: 95%;
}

#script,
#result {
    flex: 1;
    border: 3px solid rgb(77, 255, 0);
    overflow: auto;
}



#myTextArea {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    font-size: larger;
    color: white;
    background-color: black;
    
}

#myIframe {
    width: 100%;
    height: 100%;
    border: none;
    
}

button {
    font: unset;
    border: 1px solid black;
    
    cursor: pointer;
}

a {
    all: unset;
}

@media only screen and (min-width: 1000px) {
    .flexo {
        flex-direction: row;
    }
    #script {order: 1;}
    #result {order: 2;}
}