* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 3;
}

header , footer {
    text-align: center;
    background-color: gray;
}

main {
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 105px black;
    padding: 15px;
}

a {
    color: unset;
}

hr {
    border: solid 3px black;
}