* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin: auto;
    max-width: 600px;
    background-color: green;
}

h1 {
    color: greenyellow
}

#textConsole {
    border: solid 3px black;
    padding: 10px;
    background-color: white;
}

a {
    text-decoration: none;
    color: rgb(124, 255, 124);
    padding: 15px;
    
    
}

#flBtn {
    background-color: rgb(8, 83, 0);
    width: max-content;
    font-weight: bold;
    margin: auto;
    font-size: xx-large;
    border: solid 3px black;
    
}