* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin: auto;
    max-width: 600px;
    background-color: green;
    
}   

h1 {
    color: greenyellow
}

#textConsole {
    border: solid 3px black;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: rgb(124, 255, 124);
    padding: 15px;
    
    
}

#flBtn {
    background-color: rgb(8, 83, 0);
    width: max-content;
    font-weight: bold;
    margin: auto;
    font-size: xx-large;
    border: solid 3px black;
    color: rgb(124, 255, 124);
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}

#flBtn:hover {
    background-color: rgb(14, 144, 0);
}
#flBtn:active {
    color: rgb(243, 255, 81);
}